
<div class="registro-login">
<h2 class="titulo">Registro de usuario</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :username, :label => "Nombre de usuario", autofocus: true%>
    <%= f.input :email, autofocus: true%>     
    <%= f.input :password, :label => "Contraseña", required: true, hint: ("#{@minimum_password_length} letras mínimo" if @validatable) %>
    <%= f.input :password_confirmation, :label => "Confirmar contraseña", required: true %>
  </div>
  
<%= f.label :role, label: "Rol"%>
<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>

  <div class="form">
    <%= f.button :submit, "Registrar", :class => "btn btn-success" %>
  </div>
<% end %>

</div>