<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo, :class => "span12" %>
  </div><br />
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion, :class => 'text_field span12', :size => "x10" %>
  </div>
  <% if f.object.creador.blank? %>
    <%= f.hidden_field :creador, :value => current_user.username %>
  <% end %>
  <br />
  <% if f.object.user_id.blank? %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>

  <% if current_user.role? :administrador %>
  <div class="field">
    <%= f.label :tecnico_asignado %><br />
    <%= f.collection_select :tecnico_asignado, User.where(role: "tecnico"), :id, :username %>
  </div><br />
  
  <div class="field">
    <%= f.label :prioridad %><br />
    <%= f.collection_select :prioridad, Ticket::PRIORIDAD, :to_s, :humanize %>
  </div><br />
  <% end %>

  <% if current_user.role? :tecnico or current_user.role? :administrador %>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.collection_select :estado, Ticket::REALIZADO, :to_s, :humanize %>
  </div><br /><br />
  <% end %>
  
 <% if !(controller.action_name == "new") %>
  <% if !current_user.role? :paciente %>
      <div class="nested-forms">
        <%= f.simple_fields_for :historicos do |n| %>
        <div class="nested-form <%= 'nested-form-template' if !n.object.persisted? and n.object.errors.empty? %>">
          <% if n.object.usuario_encargado.blank? %>
            <%= n.hidden_field :usuario_encargado, :value => current_user.username %>
          <% end %>
          <% if n.object.nota.blank? %>
          <%= n.input :nota, label: "Nota", :input_html => { :class => 'text_field span12', :size => "x4"} %>
          <% else %>
          <%= n.input :nota, label: "Nota", :input_html => { :class => 'text_field span12', :disabled => "true", :size => "x4"} %>
          <% end %>
          <% if can? :manage, :historicos %>
           <a href="#" class="btn btn-danger nested-form-remove offset10">Borrar nota</a>
           <% end %>
           <br>
          <hr>
        </div>
    <% end %>

        <a href="#" class="btn btn-success nested-form-add">Añadir Nota</a>
        
 <% end %>
    <% end %><br><br>

  <div class="actions">
    <%= f.submit nil, :class => 'btn btn-primary' %> | <%= link_to "Atrás" , tickets_path, :class => "btn btn-warning" %>
  </div>
<% end %>
