<h1>Listado de tickets asociados</h1>

  <%= form_tag(tickets_path, :method => "get", id: "search-form") do %>
    <div class="input-group span3 pull-right">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Buscar ID" %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
           of using a Rails form helper -->
        <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Buscar!</button>
        </span>
    </div>
  <% end %>

<% if !current_user.role? :tecnico %>
  <%= link_to 'Nuevo Ticket', new_ticket_path, :class => "btn btn-info" %>
<% end %><br><br>

<table class="table table-striped">
 <thead>
  <tr>
    <th><%= link_to "ID", :sort => "ID" %></th>
    <th><%= link_to "Titulo", :sort => "titulo" %></th>
    <th><%= link_to "Creador", :sort => "creador"%></th>
    <th><%= link_to "Asignado a", :sort => "tecnico_asignado"%></th>
    <th><%= link_to "Prioridad", :sort => "prioridad"%></th>
    <th><%= link_to "Estado", :sort => "estado"%></th>
    <th> Creada</th>
    <th> Acciones</th>
  </tr>
 </thead>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.id%></td>
    <td><%= link_to ticket.titulo, ticket %></td>
    <td><%= ticket.creador %></td>
    <td><%= tecnico(ticket.tecnico_asignado) unless ticket.tecnico_asignado.nil? %>
    <td><%= ticket.prioridad %></td>
    <td><%= ticket.estado %></td>
    <td><%= ticket.created_at.strftime("%d/%m/%Y %H:%M") %>h</td>
    <td><%= link_to 'Mostar', ticket, :class => "btn btn-xs btn-primary" %>
    <% if can? :update, @ticket%>
      <%= link_to 'Editar', edit_ticket_path(ticket), :class => "btn btn-xs btn-success" %>
    <% end %>
    <% if can? :destroy, @ticket%>
      <%= link_to 'Eliminar', ticket, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" %>
    <% end %></td>
  </tr>
<% end %>
</table>

<br />

<% if !current_user.role? :tecnico %>
  <%= link_to 'Nuevo Ticket', new_ticket_path, :class => "btn btn-info" %>
<% end %>
