<h1>Ticket <%= @ticket.id%></h1>

<p id="notice"><%= notice %></p>

<% if can? :read, @ticket%>
<div class="bs-callout bs-callout-warning">
  <b>Titulo:</b><br>
  <%= @ticket.titulo %>
</div>

<div class="bs-callout bs-callout-warning">
  <b>Descripcion:</b><br>
  <%= @ticket.descripcion %>
</div>

<div class="bs-callout bs-callout-warning">
  <b>Creador:</b><br>
  <%= @ticket.creador %>
</div>
<% end %>

<%if can? :upadte, @tickets %>
<div class="bs-callout bs-callout-warning">
  <b>Tecnico asignado:</b><br>
  <%= @user %>
</div>

<div class="bs-callout bs-callout-warning">
    <b>Prioridad:</b><br>
    <%= @ticket.prioridad %>
</div>

<div class="bs-callout bs-callout-warning">
  <b>Estado:</b><br>
  <%= @ticket.estado %>
</div>
<% end %>

<h3>Historico</h3><hr>

<% if @ticket.historicos.size > 0%>
    <div class="nested-forms">
      <% @ticket.historicos.each do |n| %>
      <% if !n.nota.blank? %>
      <div class="form-actions">
       <dl class="dl-horizontal">
          <dt>Actualizado por
            <dd><%= n.usuario_encargado %> el <%= n.updated_at.strftime("%d/%m/%Y a las %H:%M")%>h</dd>
          <dt><strong>Notas</strong></dt>
            <dd><%= n.nota %></dd>
        </dl>
        </div>
        <% end %>
      <% end %>
      </div>
<% end %>


<% if can? :update, @ticket%>
  <%= link_to 'Editar', edit_ticket_path(@ticket), :class => "btn btn-primary" %> |
<% end %>
<%= link_to 'Atrás', tickets_path, :class => "btn btn-primary btn-warning" %>
