<div class="registro-login">
<h2>GESTIÓN DE INCIDENCIAS </h2>
<h5 class="titulo"> ACCEDA MEDIANTE USUARIO O REGISTRESE</h5>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="inputs">
    <p><%= f.input :username, autofocus: true, :label => "Nombre de usuario"%></p>
    <p><%= f.input :password, required: false, :label => "Contraseña" %></p>
    <%= f.input :remember_me, label: "Recordarme", as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form">
    <%= f.button :submit, "Acceder", :class => "btn btn-success" %>
  </div>
<% end %>

</div>