/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.contenedor-principal {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	margin-top: 20px;
	border-top: solid 11px #6D2222;
}

.sessiones{
  padding-top: 10px;
}

.sessiones a {
 color: white;
}

.sessiones a:hover {
   color: red;
   text-decoration: underline;
 }

 .registro-login{
   width: 500px;
 	margin-left: auto;
 	margin-right: auto;
 }
 
 .titulo {
   margin-left: 33px;
   margin-bottom: 20px;
 }
 
 
 .optional{
   margin-right: 200px;
 }
 
 .required {
   margin-right: 100px;
   margin-bottom: 10px;
 }
 
 .usuario {
   color: white;
 }
 
 
 .bs-callout+.bs-callout {
   margin-top: -5px;
 }
 
 .bs-callout {
   padding: 20px;
   margin: 20px 0;
   border: 1px solid #EEE;
   border-left-color: #1B809E;
   border-left-width: 5px;
   border-radius: 3px;
 }
 
 .form-actions {
   padding: 20px 40px 1px;
   margin-top: 18px;
   margin-bottom: 18px;
   background-color: #F5F5F5;
   border-top: 1px solid #E5E5E5;
 }
 
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}

#user_remember_me {
  margin-right: 5px;
}