<!DOCTYPE html>
<html>
<head>
  <title>Gestión de incidencias</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
	<div class="contenedor-principal">
  
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>">Hospital Comarcal</a>
        </div>
        <!-- Top Menu Items -->
            <div class="sessiones pull-right">
                  <% if user_signed_in? %>
                    <span class="usuario">Bienvenido <%= current_user.username %></span> <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-mini btn-danger logout") %>
                    <% else %>
                    <%= link_to('Entrar', new_user_session_path, :class => "btn btn-mini")  %> <%= link_to('Registrarse', new_user_registration_path, :class => "btn btn-mini")  %> 
                  <% end %>
             </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    </nav>
    
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    
    <%= yield %>
    <br><br><br>
        <footer>
            <p>&copy; Practica ASI 2015</p>
        </footer>
  </div>
        
</body>
</html>
